<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
      {{ else }}
      {{ partial "logo.html" . }}
      <div class="copyright">
        <span
          >© {{ now.Year }}
          <a href="mailto:vitus.schaefftlein@opensource-philosophy.com" target="_blank" rel="noopener">Vitus Schäfftlein</a></span
        >
        <span
          >completely
          <a href="https://codeberg.org/opensource-philosophy" target="_blank" rel="noopener">open source</a></span
        >
      </div>
    {{ end }}
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

{{- partial "extended_footer.html" . }}
